infrastructure/templates/datafactory/components/db-maintenance-template.json
{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "factoryName": {
      "type": "string",
      "metadata": {
        "description": "Data Factory name"
      }
    },
    "keyVaultName": {
      "type": "string",
      "metadata": {
        "description": "The name of the key vault"
      }
    },
    "slackAlertsChannel": {
      "type": "string",
      "metadata": {
        "description": "Slack channel to post Azure alerts to"
      }
    },
    "slackAppToken": {
      "type": "securestring"
    }
  },
  "variables": {
    "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]",
    "fragmentationTables": "Observation,ObservationFilterItem",
    "removeSoftDeletedSubjectsObservationLimit": "20000000",
    "removeSoftDeletedSubjectsObservationCommitBatchSize": "500000",
    "removeSoftDeletedSubjectsObservationFilterItemCommitBatchSize": "500000"
  },
  "resources": [
    {
      "name": "[concat(parameters('factoryName'), '/ls_sql_statistics')]",
      "type": "Microsoft.DataFactory/factories/linkedServices",
      "apiVersion": "2018-06-01",
      "properties": {
        "annotations": [],
        "type": "AzureSqlDatabase",
        "typeProperties": {
          "connectionString": {
            "type": "AzureKeyVaultSecret",
            "store": {
              "referenceName": "AzureKeyVault",
              "type": "LinkedServiceReference"
            },
            "secretName": "ees-sql-admin-datafactory-connectionstring"
          }
        }
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/AzureKeyVault')]",
      "type": "Microsoft.DataFactory/factories/linkedServices",
      "apiVersion": "2018-06-01",
      "properties": {
        "annotations": [],
        "type": "AzureKeyVault",
        "typeProperties": {
          "baseUrl": "[concat('https://', parameters('keyVaultName'), '.vault.azure.net/')]"
        }
      },
      "dependsOn": []
    },
    {
      "name": "[concat(parameters('factoryName'), '/pl_rebuild_statistics_indexes')]",
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "properties": {
        "activities": [
          {
            "name": "Rebuild indexes",
            "type": "SqlServerStoredProcedure",
            "dependsOn": [],
            "policy": {
              "timeout": "0.06:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "storedProcedureName": "[[dbo].[RebuildIndexes]",
              "storedProcedureParameters": {
                "Tables": {
                  "value": {
                    "value": "@pipeline().parameters.Tables",
                    "type": "Expression"
                  },
                  "type": "String"
                }
              }
            },
            "linkedServiceName": {
              "referenceName": "ls_sql_statistics",
              "type": "LinkedServiceReference"
            }
          },
          {
            "name": "Report indexes rebuilt successfully",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "Rebuild indexes",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.00:10:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "url": "https://slack.com/api/chat.postMessage",
              "method": "POST",
              "headers": {
                "Content-Type": "application/json",
                "Authorization": "[concat('Bearer ', parameters('slackAppToken'))]"
              },
              "body": {
                "channel": "[parameters('slackAlertsChannel')]",
                "text": "Data Factory Success! All fragmented indexes rebuilt.",
                "attachments": [
                  {
                    "color": "good",
                    "fields": [
                      {
                        "title": "Data Factory",
                        "value": "@{pipeline().DataFactory}",
                        "short": true
                      },
                      {
                        "title": "Pipeline",
                        "value": "@{pipeline().Pipeline}",
                        "short": true
                      },
                      {
                        "title": "Duration",
                        "value": "@{activity('Rebuild indexes').Duration}",
                        "short": true
                      }
                    ]
                  }
                ]
              }
            }
          },
          {
            "name": "Get reason for index rebuild failure",
            "type": "SetVariable",
            "dependsOn": [
              {
                "activity": "Rebuild indexes",
                "dependencyConditions": [
                  "Failed"
                ]
              }
            ],
            "policy": {
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "variableName": "storedProcedureActivityFailure",
              "value": {
                "value": "@coalesce(\n  activity('Rebuild indexes').error.errorCode,\n  activity('Rebuild indexes').error.message,\n  'Unknown'\n)",
                "type": "Expression"
              }
            }
          },
          {
            "name": "Choose how to handle rebuild indexes failure",
            "description": "This activity routes to the appropriate error handler based on the reason for the 'Rebuild indexes' activity's reason for failure",
            "type": "Switch",
            "dependsOn": [
              {
                "activity": "Get reason for index rebuild failure",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "userProperties": [],
            "typeProperties": {
              "on": {
                "value": "@variables('storedProcedureActivityFailure')",
                "type": "Expression"
              },
              "cases": [
                {
                  "value": "ActionTimedOut",
                  "activities": [
                    {
                      "name": "Pause resumable index rebuilds after timeout",
                      "description": "This activity pauses any ongoing RESUMABLE index REBUILDs.",
                      "type": "SqlServerStoredProcedure",
                      "dependsOn": [],
                      "policy": {
                        "timeout": "0.00:10:00",
                        "retry": 0,
                        "retryIntervalInSeconds": 30,
                        "secureOutput": false,
                        "secureInput": false
                      },
                      "userProperties": [],
                      "typeProperties": {
                        "storedProcedureName": "[[dbo].[PauseResumableIndexRebuilds]",
                        "storedProcedureParameters": {
                          "Tables": {
                            "value": "@pipeline().parameters.Tables",
                            "type": "String"
                          }
                        }
                      },
                      "linkedServiceName": {
                        "referenceName": "ls_sql_statistics",
                        "type": "LinkedServiceReference"
                      }
                    },
                    {
                      "name": "Kill index reorganizes after timeout",
                      "description": "This activity kills any ongoing index REORGANIZEs after a timeout.",
                      "type": "SqlServerStoredProcedure",
                      "dependsOn": [
                        {
                          "activity": "Pause resumable index rebuilds after timeout",
                          "dependencyConditions": [
                            "Succeeded"
                          ]
                        }
                      ],
                      "policy": {
                        "timeout": "0.00:10:00",
                        "retry": 0,
                        "retryIntervalInSeconds": 30,
                        "secureOutput": false,
                        "secureInput": false
                      },
                      "userProperties": [],
                      "typeProperties": {
                        "storedProcedureName": "[[dbo].[KillIndexReorganizations]",
                        "storedProcedureParameters": {
                          "Tables": {
                            "value": "@pipeline().parameters.Tables",
                            "type": "String"
                          }
                        }
                      },
                      "linkedServiceName": {
                        "referenceName": "ls_sql_statistics",
                        "type": "LinkedServiceReference"
                      }
                    },
                    {
                      "name": "Report timeout handled successfully",
                      "description": "Messages Slack to inform that the timeout has been handled successfully",
                      "type": "WebActivity",
                      "dependsOn": [
                        {
                          "activity": "Kill index reorganizes after timeout",
                          "dependencyConditions": [
                            "Succeeded"
                          ]
                        }
                      ],
                      "policy": {
                        "timeout": "0.00:10:00",
                        "retry": 0,
                        "retryIntervalInSeconds": 30,
                        "secureOutput": false,
                        "secureInput": false
                      },
                      "userProperties": [],
                      "typeProperties": {
                        "method": "POST",
                        "headers": {
                          "Content-Type": "application/json",
                          "Authorization": "[concat('Bearer ', parameters('slackAppToken'))]"
                        },
                        "url": "https://slack.com/api/chat.postMessage",
                        "body": {
                          "channel": "[parameters('slackAlertsChannel')]",
                          "text": "Data Factory timeout handled successfully.",
                          "attachments": [
                            {
                              "color": "good",
                              "fields": [
                                {
                                  "title": "Data Factory",
                                  "value": "@{pipeline().DataFactory}",
                                  "short": true
                                },
                                {
                                  "title": "Pipeline",
                                  "value": "@{pipeline().Pipeline}",
                                  "short": true
                                },
                                {
                                  "title": "Details",
                                  "value": "Any resumable index rebuilds have been paused.\nAny reorganizations have been killed.",
                                  "short": true
                                },
                                {
                                  "title": "Duration",
                                  "value": "@{activity('Rebuild indexes').Duration}",
                                  "short": true
                                }
                              ]
                            }
                          ]
                        }
                      }
                    },
                    {
                      "name": "Report error when pausing resumable index rebuilds",
                      "type": "WebActivity",
                      "dependsOn": [
                        {
                          "activity": "Pause resumable index rebuilds after timeout",
                          "dependencyConditions": [
                            "Failed"
                          ]
                        }
                      ],
                      "policy": {
                        "timeout": "0.00:10:00",
                        "retry": 0,
                        "retryIntervalInSeconds": 30,
                        "secureOutput": false,
                        "secureInput": false
                      },
                      "userProperties": [],
                      "typeProperties": {
                        "method": "POST",
                        "headers": {
                          "Content-Type": "application/json",
                          "Authorization": "[concat('Bearer ', parameters('slackAppToken'))]"
                        },
                        "url": "https://slack.com/api/chat.postMessage",
                        "body": {
                          "channel": "[parameters('slackAlertsChannel')]",
                          "text": "Data Factory failure! Problem encountered when pausing resumable index rebuilds.",
                          "attachments": [
                            {
                              "color": "warning",
                              "fields": [
                                {
                                  "title": "Data Factory",
                                  "value": "@{pipeline().DataFactory}",
                                  "short": true
                                },
                                {
                                  "title": "Pipeline",
                                  "value": "@{pipeline().Pipeline}",
                                  "short": true
                                },
                                {
                                  "title": "Activity",
                                  "value": "@{activity('Pause resumable index rebuilds after timeout').Error.message}",
                                  "short": true
                                },
                                {
                                  "title": "Duration",
                                  "value": "@{activity('Rebuild indexes').Duration}",
                                  "short": true
                                }
                              ]
                            }
                          ]
                        }
                      }
                    },
                    {
                      "name": "Report error when killing index reorganizations",
                      "type": "WebActivity",
                      "dependsOn": [
                        {
                          "activity": "Kill index reorganizes after timeout",
                          "dependencyConditions": [
                            "Failed"
                          ]
                        }
                      ],
                      "policy": {
                        "timeout": "0.00:10:00",
                        "retry": 0,
                        "retryIntervalInSeconds": 30,
                        "secureOutput": false,
                        "secureInput": false
                      },
                      "userProperties": [],
                      "typeProperties": {
                        "method": "POST",
                        "headers": {
                          "Content-Type": "application/json",
                          "Authorization": "[concat('Bearer ', parameters('slackAppToken'))]"
                        },
                        "url": "https://slack.com/api/chat.postMessage",
                        "body": {
                          "channel": "[parameters('slackAlertsChannel')]",
                          "text": "Data Factory failure! Problem encountered when killing index reorganizations.",
                          "attachments": [
                            {
                              "color": "warning",
                              "fields": [
                                {
                                  "title": "Data Factory",
                                  "value": "@{pipeline().DataFactory}",
                                  "short": true
                                },
                                {
                                  "title": "Pipeline",
                                  "value": "@{pipeline().Pipeline}",
                                  "short": true
                                },
                                {
                                  "title": "Activity",
                                  "value": "@{activity('Kill index reorganizes after timeout').Error.message}",
                                  "short": true
                                },
                                {
                                  "title": "Duration",
                                  "value": "@{activity('Rebuild indexes').Duration}",
                                  "short": true
                                }
                              ]
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              ],
              "defaultActivities": [
                {
                  "name": "Report failure",
                  "type": "WebActivity",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "0.00:10:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "method": "POST",
                    "headers": {
                      "Content-Type": "application/json",
                      "Authorization": "[concat('Bearer ', parameters('slackAppToken'))]"
                    },
                    "url": "https://slack.com/api/chat.postMessage",
                    "body": {
                      "channel": "[parameters('slackAlertsChannel')]",
                      "text": "Data Factory Failure!",
                      "attachments": [
                        {
                          "color": "warning",
                          "fields": [
                            {
                              "title": "Data Factory",
                              "value": "@{pipeline().DataFactory}",
                              "short": true
                            },
                            {
                              "title": "Pipeline",
                              "value": "@{pipeline().Pipeline}",
                              "short": true
                            },
                            {
                              "title": "Error",
                              "value": "@{activity('Rebuild indexes').Error.message}",
                              "short": true
                            },
                            {
                              "title": "Duration",
                              "value": "@{activity('Rebuild indexes').Duration}",
                              "short": true
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              ]
            }
          }
        ],
        "parameters": {
          "Tables": {
            "type": "string",
            "defaultValue": "[variables('fragmentationTables')]"
          }
        },
        "variables": {
          "storedProcedureActivityFailure": {
            "type": "String"
          }
        },
        "annotations": [],
        "lastPublishTime": "2025-11-12T11:47:14Z"
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/linkedServices/ls_sql_statistics')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/pl_purge_subjects_statistics')]",
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "properties": {
        "activities": [
          {
            "name": "sp_remove_soft_deleted_subjects",
            "type": "SqlServerStoredProcedure",
            "dependsOn": [],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "storedProcedureName": "[[dbo].[RemoveSoftDeletedSubjects]",
              "storedProcedureParameters": {
                "TotalObservationLimit": {
                  "value": {
                    "value": "@pipeline().parameters.TotalObservationLimit",
                    "type": "Expression"
                  },
                  "type": "Int32"
                },
                "ObservationCommitBatchSize": {
                  "value": {
                    "value": "@pipeline().parameters.ObservationCommitBatchSize",
                    "type": "Expression"
                  },
                  "type": "Int32"
                },
                "ObservationFilterItemCommitBatchSize": {
                  "value": {
                    "value": "@pipeline().parameters.ObservationFilterItemCommitBatchSize",
                    "type": "Expression"
                  },
                  "type": "Int32"
                }
              }
            },
            "linkedServiceName": {
              "referenceName": "ls_sql_statistics",
              "type": "LinkedServiceReference"
            }
          },
          {
            "name": "Report success",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "sp_remove_soft_deleted_subjects",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.00:10:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "url": "https://slack.com/api/chat.postMessage",
              "method": "POST",
              "headers": {
                "Content-Type": "application/json",
                "Authorization": "[concat('Bearer ', parameters('slackAppToken'))]"
              },
              "body": {
                "channel": "[parameters('slackAlertsChannel')]",
                "text": "Data Factory Success!",
                "attachments": [{
                  "color": "good",
                  "fields": [{
                    "title": "Data Factory",
                    "value": "@{pipeline().DataFactory}",
                    "short": true
                  },
                    {
                      "title": "Pipeline",
                      "value": "@{pipeline().Pipeline}",
                      "short": true
                    },
                    {
                      "title": "Duration",
                      "value": "@{activity('sp_remove_soft_deleted_subjects').Duration}",
                      "short": true
                    }]
                }]
              }
            }
          },
          {
            "name": "Report failure",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "sp_remove_soft_deleted_subjects",
                "dependencyConditions": [
                  "Failed"
                ]
              }
            ],
            "policy": {
              "timeout": "0.00:10:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "url": "https://slack.com/api/chat.postMessage",
              "method": "POST",
              "headers": {
                "Content-Type": "application/json",
                "Authorization": "[concat('Bearer ', parameters('slackAppToken'))]"
              },
              "body": {
                "channel": "[parameters('slackAlertsChannel')]",
                "text": "Data Factory Failure!",
                "attachments": [
                  {
                    "color": "warning",
                    "fields": [
                      {
                        "title": "Data Factory",
                        "value": "@{pipeline().DataFactory}",
                        "short": true
                      },
                      {
                        "title": "Pipeline",
                        "value": "@{pipeline().Pipeline}",
                        "short": true
                      },
                      {
                        "title": "Error",
                        "value": "@{activity('sp_remove_soft_deleted_subjects').Error.message}",
                        "short": true
                      },
                      {
                        "title": "Duration",
                        "value": "@{activity('sp_remove_soft_deleted_subjects').Duration}",
                        "short": true
                      }
                    ]
                  }
                ]
              }
            }
          }
        ],
        "parameters": {
          "TotalObservationLimit": {
            "type": "int",
            "defaultValue": "[variables('removeSoftDeletedSubjectsObservationLimit')]"
          },
          "ObservationCommitBatchSize": {
            "type": "int",
            "defaultValue": "[variables('removeSoftDeletedSubjectsObservationCommitBatchSize')]"
          },
          "ObservationFilterItemCommitBatchSize": {
            "type": "int",
            "defaultValue": "[variables('removeSoftDeletedSubjectsObservationFilterItemCommitBatchSize')]"
          }
        },
        "annotations": []
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/linkedServices/ls_sql_statistics')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/purge_soft_deleted_subjects_trigger')]",
      "type": "Microsoft.DataFactory/factories/triggers",
      "apiVersion": "2018-06-01",
      "properties": {
        "annotations": [],
        "runtimeState": "Stopped",
        "pipelines": [
          {
            "pipelineReference": {
              "referenceName": "pl_purge_subjects_statistics",
              "type": "PipelineReference"
            },
            "parameters": {
              "TotalObservationLimit": "[variables('removeSoftDeletedSubjectsObservationLimit')]",
              "ObservationCommitBatchSize": "[variables('removeSoftDeletedSubjectsObservationCommitBatchSize')]",
              "ObservationFilterItemCommitBatchSize": "[variables('removeSoftDeletedSubjectsObservationFilterItemCommitBatchSize')]"
            }
          }
        ],
        "type": "ScheduleTrigger",
        "typeProperties": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "startTime": "2020-11-23T19:00:00",
            "timeZone": "GMT Standard Time",
            "schedule": {
              "hours": [19],
              "minutes": [0]
            }
          }
        }
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/pipelines/pl_purge_subjects_statistics')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/rebuild_indexes_trigger')]",
      "type": "Microsoft.DataFactory/factories/triggers",
      "apiVersion": "2018-06-01",
      "properties": {
        "annotations": [],
        "runtimeState": "Stopped",
        "pipelines": [
          {
            "pipelineReference": {
              "referenceName": "pl_rebuild_statistics_indexes",
              "type": "PipelineReference"
            },
            "parameters": {
              "Tables": "[variables('fragmentationTables')]"
            }
          }
        ],
        "type": "ScheduleTrigger",
        "typeProperties": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "startTime": "2023-03-03T02:00:00",
            "timeZone": "GMT Standard Time",
            "schedule": {
              "hours": [2],
              "minutes": [0]
            }
          }
        }
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/pipelines/pl_rebuild_statistics_indexes')]"
      ]
    }
  ]
}
