infrastructure/templates/datafactory/components/db-maintenance-template.json
{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "factoryName": {
      "type": "string",
      "metadata": {
        "description": "Data Factory name"
      }
    },
    "keyVaultName": {
      "type": "string",
      "metadata": {
        "description": "The name of the key vault"
      }
    },
    "slackAlertsChannel": {
      "type": "string",
      "metadata": {
        "description": "Slack channel to post Azure alerts to"
      }
    },
    "slackAppToken": {
      "type": "securestring"
    }
  },
  "variables": {
    "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]",
    "fragmentationTables": "Observation,ObservationFilterItem",
    "removeSoftDeletedSubjectsObservationLimit": "20000000",
    "removeSoftDeletedSubjectsObservationCommitBatchSize": "500000",
    "removeSoftDeletedSubjectsObservationFilterItemCommitBatchSize": "500000"
  },
  "resources": [
    {
      "name": "[concat(parameters('factoryName'), '/ls_sql_statistics')]",
      "type": "Microsoft.DataFactory/factories/linkedServices",
      "apiVersion": "2018-06-01",
      "properties": {
        "annotations": [],
        "type": "AzureSqlDatabase",
        "typeProperties": {
          "connectionString": {
            "type": "AzureKeyVaultSecret",
            "store": {
              "referenceName": "AzureKeyVault",
              "type": "LinkedServiceReference"
            },
            "secretName": "ees-sql-admin-datafactory-connectionstring"
          }
        }
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/AzureKeyVault')]",
      "type": "Microsoft.DataFactory/factories/linkedServices",
      "apiVersion": "2018-06-01",
      "properties": {
        "annotations": [],
        "type": "AzureKeyVault",
        "typeProperties": {
          "baseUrl": "[concat('https://', parameters('keyVaultName'), '.vault.azure.net/')]"
        }
      },
      "dependsOn": []
    },
    {
      "name": "[concat(parameters('factoryName'), '/pl_rebuild_statistics_indexes')]",
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "properties": {
        "activities": [
          {
            "name": "sp_rebuild_indexes",
            "type": "SqlServerStoredProcedure",
            "dependsOn": [],
            "policy": {
              "timeout": "0.16:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "storedProcedureName": "[[dbo].[RebuildIndexes]",
              "storedProcedureParameters": {
                "Tables": {
                  "value": {
                    "value": "@pipeline().parameters.Tables",
                    "type": "Expression"
                  },
                  "type": "String"
                }
              }
            },
            "linkedServiceName": {
              "referenceName": "ls_sql_statistics",
              "type": "LinkedServiceReference"
            }
          },
          {
            "name": "Report success",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "sp_rebuild_indexes",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.00:10:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "url": "https://slack.com/api/chat.postMessage",
              "method": "POST",
              "headers": {
                "Content-Type": "application/json",
                "Authorization": "[concat('Bearer ', parameters('slackAppToken'))]"
              },
              "body": {
                "channel": "[parameters('slackAlertsChannel')]",
                "text": "Data Factory Success!",
                "attachments": [{
                  "color": "good",
                  "fields": [{
                    "title": "Data Factory",
                    "value": "@{pipeline().DataFactory}",
                    "short": true
                  },
                  {
                    "title": "Pipeline",
                    "value": "@{pipeline().Pipeline}",
                    "short": true
                  },
                  {
                    "title": "Duration",
                    "value": "@{activity('sp_rebuild_indexes').Duration}",
                    "short": true
                  }]
                }]
              }
            }
          },
          {
            "name": "Report failure",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "sp_rebuild_indexes",
                "dependencyConditions": [
                  "Failed"
                ]
              }
            ],
            "policy": {
              "timeout": "0.00:10:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "url": "https://slack.com/api/chat.postMessage",
              "method": "POST",
              "headers": {
                "Content-Type": "application/json",
                "Authorization": "[concat('Bearer ', parameters('slackAppToken'))]"
              },
              "body": {
                "channel": "[parameters('slackAlertsChannel')]",
                "text": "Data Factory Failure! Stored procedure may still be running!",
                "attachments": [
                  {
                    "color": "warning",
                    "fields": [
                      {
                        "title": "Data Factory",
                        "value": "@{pipeline().DataFactory}",
                        "short": true
                      },
                      {
                        "title": "Pipeline",
                        "value": "@{pipeline().Pipeline}",
                        "short": true
                      },
                      {
                        "title": "Error",
                        "value": "@{activity('sp_rebuild_indexes').Error.message}",
                        "short": true
                      },
                      {
                        "title": "Duration",
                        "value": "@{activity('sp_rebuild_indexes').Duration}",
                        "short": true
                      }
                    ]
                  }
                ]
              }
            }
          }
        ],
        "parameters": {
          "Tables": {
            "type": "string",
            "defaultValue": "[variables('fragmentationTables')]"
          }
        },
        "annotations": [],
        "lastPublishTime": "2020-09-14T16:47:14Z"
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/linkedServices/ls_sql_statistics')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/pl_purge_subjects_statistics')]",
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "properties": {
        "activities": [
          {
            "name": "sp_remove_soft_deleted_subjects",
            "type": "SqlServerStoredProcedure",
            "dependsOn": [],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "storedProcedureName": "[[dbo].[RemoveSoftDeletedSubjects]",
              "storedProcedureParameters": {
                "TotalObservationLimit": {
                  "value": {
                    "value": "@pipeline().parameters.TotalObservationLimit",
                    "type": "Expression"
                  },
                  "type": "Int32"
                },
                "ObservationCommitBatchSize": {
                  "value": {
                    "value": "@pipeline().parameters.ObservationCommitBatchSize",
                    "type": "Expression"
                  },
                  "type": "Int32"
                },
                "ObservationFilterItemCommitBatchSize": {
                  "value": {
                    "value": "@pipeline().parameters.ObservationFilterItemCommitBatchSize",
                    "type": "Expression"
                  },
                  "type": "Int32"
                }
              }
            },
            "linkedServiceName": {
              "referenceName": "ls_sql_statistics",
              "type": "LinkedServiceReference"
            }
          },
          {
            "name": "Report success",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "sp_remove_soft_deleted_subjects",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.00:10:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "url": "https://slack.com/api/chat.postMessage",
              "method": "POST",
              "headers": {
                "Content-Type": "application/json",
                "Authorization": "[concat('Bearer ', parameters('slackAppToken'))]"
              },
              "body": {
                "channel": "[parameters('slackAlertsChannel')]",
                "text": "Data Factory Success!",
                "attachments": [{
                  "color": "good",
                  "fields": [{
                    "title": "Data Factory",
                    "value": "@{pipeline().DataFactory}",
                    "short": true
                  },
                    {
                      "title": "Pipeline",
                      "value": "@{pipeline().Pipeline}",
                      "short": true
                    },
                    {
                      "title": "Duration",
                      "value": "@{activity('sp_remove_soft_deleted_subjects').Duration}",
                      "short": true
                    }]
                }]
              }
            }
          },
          {
            "name": "Report failure",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "sp_remove_soft_deleted_subjects",
                "dependencyConditions": [
                  "Failed"
                ]
              }
            ],
            "policy": {
              "timeout": "0.00:10:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "url": "https://slack.com/api/chat.postMessage",
              "method": "POST",
              "headers": {
                "Content-Type": "application/json",
                "Authorization": "[concat('Bearer ', parameters('slackAppToken'))]"
              },
              "body": {
                "channel": "[parameters('slackAlertsChannel')]",
                "text": "Data Factory Failure!",
                "attachments": [
                  {
                    "color": "warning",
                    "fields": [
                      {
                        "title": "Data Factory",
                        "value": "@{pipeline().DataFactory}",
                        "short": true
                      },
                      {
                        "title": "Pipeline",
                        "value": "@{pipeline().Pipeline}",
                        "short": true
                      },
                      {
                        "title": "Error",
                        "value": "@{activity('sp_remove_soft_deleted_subjects').Error.message}",
                        "short": true
                      },
                      {
                        "title": "Duration",
                        "value": "@{activity('sp_remove_soft_deleted_subjects').Duration}",
                        "short": true
                      }
                    ]
                  }
                ]
              }
            }
          }
        ],
        "parameters": {
          "TotalObservationLimit": {
            "type": "int",
            "defaultValue": "[variables('removeSoftDeletedSubjectsObservationLimit')]"
          },
          "ObservationCommitBatchSize": {
            "type": "int",
            "defaultValue": "[variables('removeSoftDeletedSubjectsObservationCommitBatchSize')]"
          },
          "ObservationFilterItemCommitBatchSize": {
            "type": "int",
            "defaultValue": "[variables('removeSoftDeletedSubjectsObservationFilterItemCommitBatchSize')]"
          }
        },
        "annotations": []
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/linkedServices/ls_sql_statistics')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/purge_soft_deleted_subjects_trigger')]",
      "type": "Microsoft.DataFactory/factories/triggers",
      "apiVersion": "2018-06-01",
      "properties": {
        "annotations": [],
        "runtimeState": "Stopped",
        "pipelines": [
          {
            "pipelineReference": {
              "referenceName": "pl_purge_subjects_statistics",
              "type": "PipelineReference"
            },
            "parameters": {
              "TotalObservationLimit": "[variables('removeSoftDeletedSubjectsObservationLimit')]",
              "ObservationCommitBatchSize": "[variables('removeSoftDeletedSubjectsObservationCommitBatchSize')]",
              "ObservationFilterItemCommitBatchSize": "[variables('removeSoftDeletedSubjectsObservationFilterItemCommitBatchSize')]"
            }
          }
        ],
        "type": "ScheduleTrigger",
        "typeProperties": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "startTime": "2020-11-23T19:00:00",
            "timeZone": "GMT Standard Time",
            "schedule": {
              "hours": [19],
              "minutes": [0]
            }
          }
        }
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/pipelines/pl_purge_subjects_statistics')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/rebuild_indexes_trigger')]",
      "type": "Microsoft.DataFactory/factories/triggers",
      "apiVersion": "2018-06-01",
      "properties": {
        "annotations": [],
        "runtimeState": "Stopped",
        "pipelines": [
          {
            "pipelineReference": {
              "referenceName": "pl_rebuild_statistics_indexes",
              "type": "PipelineReference"
            },
            "parameters": {
              "Tables": "[variables('fragmentationTables')]"
            }
          }
        ],
        "type": "ScheduleTrigger",
        "typeProperties": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "startTime": "2023-03-03T02:00:00",
            "timeZone": "GMT Standard Time",
            "schedule": {
              "hours": [2],
              "minutes": [0]
            }
          }
        }
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/pipelines/pl_rebuild_statistics_indexes')]"
      ]
    }
  ]
}
