infrastructure/templates/datafactory/components/db-maintenance-template.json
{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "factoryName": {
      "type": "string",
      "metadata": {
        "description": "Data Factory name"
      }
    },
    "keyVaultName": {
      "type": "string",
      "metadata": {
        "description": "The name of the key vault"
      }
    },
    "slackAlertsChannel": {
      "type": "string",
      "metadata": {
        "description": "Slack channel to post Azure alerts to"
      }
    },
    "slackAppToken": {
      "type": "securestring"
    },
    "teamsPowerAutomateWebhookUrl": {
      "type": "securestring"
    }
  },
  "variables": {
    "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]",
    "fragmentationTables": "Observation,ObservationFilterItem",
    "removeSoftDeletedSubjectsObservationLimit": "20000000",
    "removeSoftDeletedSubjectsObservationCommitBatchSize": "500000",
    "removeSoftDeletedSubjectsObservationFilterItemCommitBatchSize": "500000"
  },
  "resources": [
    {
      "name": "[concat(parameters('factoryName'), '/ls_sql_statistics')]",
      "type": "Microsoft.DataFactory/factories/linkedServices",
      "apiVersion": "2018-06-01",
      "properties": {
        "annotations": [],
        "type": "AzureSqlDatabase",
        "typeProperties": {
          "connectionString": {
            "type": "AzureKeyVaultSecret",
            "store": {
              "referenceName": "AzureKeyVault",
              "type": "LinkedServiceReference"
            },
            "secretName": "ees-sql-admin-datafactory-connectionstring"
          }
        }
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/AzureKeyVault')]",
      "type": "Microsoft.DataFactory/factories/linkedServices",
      "apiVersion": "2018-06-01",
      "properties": {
        "annotations": [],
        "type": "AzureKeyVault",
        "typeProperties": {
          "baseUrl": "[concat('https://', parameters('keyVaultName'), '.vault.azure.net/')]"
        }
      },
      "dependsOn": []
    },
    {
      "name": "[concat(parameters('factoryName'), '/pl_rebuild_statistics_indexes')]",
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "properties": {
        "activities": [
          {
            "name": "Rebuild indexes",
            "type": "IfCondition",
            "dependsOn": [],
            "typeProperties": {
              "expression": {
                "value": "@equals(pipeline().parameters.RunMode, 'Weekend')",
                "type": "Expression"
              },
              "ifTrueActivities": [
                {
                  "name": "Rebuild indexes - weekend",
                  "type": "SqlServerStoredProcedure",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "0.23:45:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "storedProcedureName": "[[dbo].[RebuildIndexes]",
                    "storedProcedureParameters": {
                      "Tables": {
                        "value": {
                          "value": "@pipeline().parameters.Tables",
                          "type": "Expression"
                        },
                        "type": "String"
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "ls_sql_statistics",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "Get reason for index rebuild failure - weekend",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "Rebuild indexes - weekend",
                      "dependencyConditions": [
                        "Failed"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "storedProcedureActivityFailure",
                    "value": {
                      "value": "@coalesce(\n  activity('Rebuild indexes - weekend').error.errorCode,\n  activity('Rebuild indexes - weekend').error.message,\n  'Unknown'\n)",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Get index rebuild failure message - weekend",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "Get reason for index rebuild failure - weekend",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "storedProcedureActivityFailureMessage",
                    "value": {
                      "value": "@activity('Rebuild indexes - weekend').error.message",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Fail Rebuild indexes - weekend",
                  "type": "Fail",
                  "dependsOn": [
                    {
                      "activity": "Get index rebuild failure message - weekend",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "typeProperties": {
                    "message": "Weekend Index Rebuild failed",
                    "errorCode": "500"
                  }
                }
              ],
              "ifFalseActivities": [
                {
                  "name": "Rebuild indexes - weekday",
                  "type": "SqlServerStoredProcedure",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "0.09:30:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "storedProcedureName": "[[dbo].[RebuildIndexes]",
                    "storedProcedureParameters": {
                      "Tables": {
                        "value": {
                          "value": "@pipeline().parameters.Tables",
                          "type": "Expression"
                        },
                        "type": "String"
                      }
                    }
                  },
                  "linkedServiceName": {
                    "referenceName": "ls_sql_statistics",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "Get reason for index rebuild failure - weekday",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "Rebuild indexes - weekday",
                      "dependencyConditions": [
                        "Failed"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "storedProcedureActivityFailure",
                    "value": {
                      "value": "@coalesce(\n  activity('Rebuild indexes - weekday').error.errorCode,\n  activity('Rebuild indexes - weekday').error.message,\n  'Unknown'\n)",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Get index rebuild failure message - weekday",
                  "type": "SetVariable",
                  "dependsOn": [
                    {
                      "activity": "Get reason for index rebuild failure - weekday",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "variableName": "storedProcedureActivityFailureMessage",
                    "value": {
                      "value": "@activity('Rebuild indexes - weekday').error.message",
                      "type": "Expression"
                    }
                  }
                },
                {
                  "name": "Fail Rebuild indexes - weekday",
                  "type": "Fail",
                  "dependsOn": [
                    {
                      "activity": "Get index rebuild failure message - weekday",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "typeProperties": {
                    "message": "Weekday Index Rebuild failed",
                    "errorCode": "500"
                  }
                }
              ]
            }
          },
          {
            "name": "Report reindex success",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "Rebuild indexes",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.00:10:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "url": "https://slack.com/api/chat.postMessage",
              "method": "POST",
              "headers": {
                "Content-Type": "application/json",
                "Authorization": "[concat('Bearer ', parameters('slackAppToken'))]"
              },
              "body": {
                "channel": "[parameters('slackAlertsChannel')]",
                "text": "Data Factory Success! All fragmented indexes rebuilt.",
                "attachments": [
                  {
                    "color": "good",
                    "fields": [
                      {
                        "title": "Data Factory",
                        "value": "@{pipeline().DataFactory}",
                        "short": true
                      },
                      {
                        "title": "Pipeline",
                        "value": "@{pipeline().Pipeline}",
                        "short": true
                      },
                      {
                        "title": "Duration",
                        "value": "@{activity('Rebuild indexes').Duration}",
                        "short": true
                      }
                    ]
                  }
                ]
              }
            }
          },
          {
            "name": "Report reindex success to Teams",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "Rebuild indexes",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.00:10:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": true
            },
            "userProperties": [],
            "typeProperties": {
              "url": "[parameters('teamsPowerAutomateWebhookUrl')]",
              "method": "POST",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": {
                "type": "message",
                "attachments": [
                  {
                    "contentType": "application/vnd.microsoft.card.adaptive",
                    "contentUrl": null,
                    "content": {
                      "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                      "type": "AdaptiveCard",
                      "version": "1.2",
                      "body": [
                        {
                          "type": "TextBlock",
                          "text": "Data Factory Success! All fragmented indexes rebuilt.",
                          "weight": "Bolder",
                          "size": "Medium",
                          "color": "good",
                          "wrap": true
                        },
                        {
                          "type": "FactSet",
                          "facts": [
                            {
                              "title": "Data Factory",
                              "value": "@{pipeline().DataFactory}"
                            },
                            {
                              "title": "Pipeline",
                              "value": "@{pipeline().Pipeline}"
                            },
                            {
                              "title": "Duration",
                              "value": "@{activity('Rebuild indexes').Duration}"
                            }
                          ]
                        }
                      ]
                    }
                  }
                ]
              }
            }
          },
          {
            "name": "Choose how to handle rebuild indexes failure",
            "description": "This activity routes to the appropriate error handler based on the reason for the 'Rebuild indexes' activity's reason for failure",
            "type": "Switch",
            "dependsOn": [
              {
                "activity": "Rebuild indexes",
                "dependencyConditions": [
                  "Failed"
                ]
              }
            ],
            "userProperties": [],
            "typeProperties": {
              "on": {
                "value": "@variables('storedProcedureActivityFailure')",
                "type": "Expression"
              },
              "cases": [
                {
                  "value": "ActionTimedOut",
                  "activities": [
                    {
                      "name": "Pause resumable index rebuilds after timeout",
                      "description": "This activity pauses any ongoing RESUMABLE index REBUILDs.",
                      "type": "SqlServerStoredProcedure",
                      "dependsOn": [],
                      "policy": {
                        "timeout": "0.00:10:00",
                        "retry": 0,
                        "retryIntervalInSeconds": 30,
                        "secureOutput": false,
                        "secureInput": false
                      },
                      "userProperties": [],
                      "typeProperties": {
                        "storedProcedureName": "[[dbo].[PauseResumableIndexRebuilds]",
                        "storedProcedureParameters": {
                          "Tables": {
                            "value": "@pipeline().parameters.Tables",
                            "type": "String"
                          }
                        }
                      },
                      "linkedServiceName": {
                        "referenceName": "ls_sql_statistics",
                        "type": "LinkedServiceReference"
                      }
                    },
                    {
                      "name": "Kill index reorganizes after timeout",
                      "description": "This activity kills any ongoing index REORGANIZEs after a timeout.",
                      "type": "SqlServerStoredProcedure",
                      "dependsOn": [
                        {
                          "activity": "Pause resumable index rebuilds after timeout",
                          "dependencyConditions": [
                            "Succeeded"
                          ]
                        }
                      ],
                      "policy": {
                        "timeout": "0.00:10:00",
                        "retry": 0,
                        "retryIntervalInSeconds": 30,
                        "secureOutput": false,
                        "secureInput": false
                      },
                      "userProperties": [],
                      "typeProperties": {
                        "storedProcedureName": "[[dbo].[KillIndexReorganizations]",
                        "storedProcedureParameters": {
                          "Tables": {
                            "value": "@pipeline().parameters.Tables",
                            "type": "String"
                          }
                        }
                      },
                      "linkedServiceName": {
                        "referenceName": "ls_sql_statistics",
                        "type": "LinkedServiceReference"
                      }
                    },
                    {
                      "name": "Report successful timeout",
                      "description": "Messages Slack to inform that the timeout has been handled successfully",
                      "type": "WebActivity",
                      "dependsOn": [
                        {
                          "activity": "Kill index reorganizes after timeout",
                          "dependencyConditions": [
                            "Succeeded"
                          ]
                        }
                      ],
                      "policy": {
                        "timeout": "0.00:10:00",
                        "retry": 0,
                        "retryIntervalInSeconds": 30,
                        "secureOutput": false,
                        "secureInput": false
                      },
                      "userProperties": [],
                      "typeProperties": {
                        "method": "POST",
                        "headers": {
                          "Content-Type": "application/json",
                          "Authorization": "[concat('Bearer ', parameters('slackAppToken'))]"
                        },
                        "url": "https://slack.com/api/chat.postMessage",
                        "body": {
                          "channel": "[parameters('slackAlertsChannel')]",
                          "text": "Data Factory timeout handled successfully.",
                          "attachments": [
                            {
                              "color": "good",
                              "fields": [
                                {
                                  "title": "Data Factory",
                                  "value": "@{pipeline().DataFactory}",
                                  "short": true
                                },
                                {
                                  "title": "Pipeline",
                                  "value": "@{pipeline().Pipeline}",
                                  "short": true
                                },
                                {
                                  "title": "Details",
                                  "value": "Any resumable index rebuilds have been paused.\nAny reorganizations have been killed.",
                                  "short": true
                                },
                                {
                                  "title": "Duration",
                                  "value": "@{activity('Rebuild indexes').Duration}",
                                  "short": true
                                }
                              ]
                            }
                          ]
                        }
                      }
                    },
                    {
                      "name": "Report successful timeout to Teams",
                      "type": "WebActivity",
                      "dependsOn": [
                        {
                          "activity": "Kill index reorganizes after timeout",
                          "dependencyConditions": [
                            "Succeeded"
                          ]
                        }
                      ],
                      "policy": {
                        "timeout": "0.00:10:00",
                        "retry": 0,
                        "retryIntervalInSeconds": 30,
                        "secureOutput": false,
                        "secureInput": true
                      },
                      "userProperties": [],
                      "typeProperties": {
                        "url": "[parameters('teamsPowerAutomateWebhookUrl')]",
                        "method": "POST",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "type": "message",
                          "attachments": [
                            {
                              "contentType": "application/vnd.microsoft.card.adaptive",
                              "contentUrl": null,
                              "content": {
                                "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                                "type": "AdaptiveCard",
                                "version": "1.2",
                                "body": [
                                  {
                                    "type": "TextBlock",
                                    "text": "Data Factory timeout handled successfully.",
                                    "weight": "Bolder",
                                    "size": "Medium",
                                    "color": "good",
                                    "wrap": true
                                  },
                                  {
                                    "type": "FactSet",
                                    "facts": [
                                      {
                                        "title": "Data Factory",
                                        "value": "@{pipeline().DataFactory}"
                                      },
                                      {
                                        "title": "Pipeline",
                                        "value": "@{pipeline().Pipeline}"
                                      },
                                      {
                                        "title": "Details",
                                        "value": "Any resumable index rebuilds have been paused.\nAny reorganizations have been killed."
                                      },
                                      {
                                        "title": "Duration",
                                        "value": "@{activity('Rebuild indexes').Duration}"
                                      }
                                    ]
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      }
                    },
                    {
                      "name": "Report rebuild pause error",
                      "type": "WebActivity",
                      "dependsOn": [
                        {
                          "activity": "Pause resumable index rebuilds after timeout",
                          "dependencyConditions": [
                            "Failed"
                          ]
                        }
                      ],
                      "policy": {
                        "timeout": "0.00:10:00",
                        "retry": 0,
                        "retryIntervalInSeconds": 30,
                        "secureOutput": false,
                        "secureInput": false
                      },
                      "userProperties": [],
                      "typeProperties": {
                        "method": "POST",
                        "headers": {
                          "Content-Type": "application/json",
                          "Authorization": "[concat('Bearer ', parameters('slackAppToken'))]"
                        },
                        "url": "https://slack.com/api/chat.postMessage",
                        "body": {
                          "channel": "[parameters('slackAlertsChannel')]",
                          "text": "Data Factory failure! Problem encountered when pausing resumable index rebuilds.",
                          "attachments": [
                            {
                              "color": "warning",
                              "fields": [
                                {
                                  "title": "Data Factory",
                                  "value": "@{pipeline().DataFactory}",
                                  "short": true
                                },
                                {
                                  "title": "Pipeline",
                                  "value": "@{pipeline().Pipeline}",
                                  "short": true
                                },
                                {
                                  "title": "Activity",
                                  "value": "@{activity('Pause resumable index rebuilds after timeout').Error.message}",
                                  "short": true
                                },
                                {
                                  "title": "Duration",
                                  "value": "@{activity('Rebuild indexes').Duration}",
                                  "short": true
                                }
                              ]
                            }
                          ]
                        }
                      }
                    },
                    {
                      "name": "Report rebuild pause error to Teams",
                      "type": "WebActivity",
                      "dependsOn": [
                        {
                          "activity": "Pause resumable index rebuilds after timeout",
                          "dependencyConditions": [
                            "Failed"
                          ]
                        }
                      ],
                      "policy": {
                        "timeout": "0.00:10:00",
                        "retry": 0,
                        "retryIntervalInSeconds": 30,
                        "secureOutput": false,
                        "secureInput": true
                      },
                      "userProperties": [],
                      "typeProperties": {
                        "url": "[parameters('teamsPowerAutomateWebhookUrl')]",
                        "method": "POST",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "type": "message",
                          "attachments": [
                            {
                              "contentType": "application/vnd.microsoft.card.adaptive",
                              "contentUrl": null,
                              "content": {
                                "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                                "type": "AdaptiveCard",
                                "version": "1.2",
                                "body": [
                                  {
                                    "type": "TextBlock",
                                    "text": "Data Factory failure! Problem encountered when pausing resumable index rebuilds.",
                                    "weight": "Bolder",
                                    "size": "Medium",
                                    "color": "warning",
                                    "wrap": true
                                  },
                                  {
                                    "type": "FactSet",
                                    "facts": [
                                      {
                                        "title": "Data Factory",
                                        "value": "@{pipeline().DataFactory}"
                                      },
                                      {
                                        "title": "Pipeline",
                                        "value": "@{pipeline().Pipeline}"
                                      },
                                      {
                                        "title": "Activity",
                                        "value": "@{activity('Pause resumable index rebuilds after timeout').Error.message}"
                                      },
                                      {
                                        "title": "Duration",
                                        "value": "@{activity('Rebuild indexes').Duration}"
                                      }
                                    ]
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      }
                    },
                    {
                      "name": "Report index reorganization kill error",
                      "type": "WebActivity",
                      "dependsOn": [
                        {
                          "activity": "Kill index reorganizes after timeout",
                          "dependencyConditions": [
                            "Failed"
                          ]
                        }
                      ],
                      "policy": {
                        "timeout": "0.00:10:00",
                        "retry": 0,
                        "retryIntervalInSeconds": 30,
                        "secureOutput": false,
                        "secureInput": false
                      },
                      "userProperties": [],
                      "typeProperties": {
                        "method": "POST",
                        "headers": {
                          "Content-Type": "application/json",
                          "Authorization": "[concat('Bearer ', parameters('slackAppToken'))]"
                        },
                        "url": "https://slack.com/api/chat.postMessage",
                        "body": {
                          "channel": "[parameters('slackAlertsChannel')]",
                          "text": "Data Factory failure! Problem encountered when killing index reorganizations.",
                          "attachments": [
                            {
                              "color": "warning",
                              "fields": [
                                {
                                  "title": "Data Factory",
                                  "value": "@{pipeline().DataFactory}",
                                  "short": true
                                },
                                {
                                  "title": "Pipeline",
                                  "value": "@{pipeline().Pipeline}",
                                  "short": true
                                },
                                {
                                  "title": "Activity",
                                  "value": "@{activity('Kill index reorganizes after timeout').Error.message}",
                                  "short": true
                                },
                                {
                                  "title": "Duration",
                                  "value": "@{activity('Rebuild indexes').Duration}",
                                  "short": true
                                }
                              ]
                            }
                          ]
                        }
                      }
                    },
                    {
                      "name": "Report index reorganization kill error to Teams",
                      "type": "WebActivity",
                      "dependsOn": [
                        {
                          "activity": "Kill index reorganizes after timeout",
                          "dependencyConditions": [
                            "Failed"
                          ]
                        }
                      ],
                      "policy": {
                        "timeout": "0.00:10:00",
                        "retry": 0,
                        "retryIntervalInSeconds": 30,
                        "secureOutput": false,
                        "secureInput": true
                      },
                      "userProperties": [],
                      "typeProperties": {
                        "url": "[parameters('teamsPowerAutomateWebhookUrl')]",
                        "method": "POST",
                        "headers": {
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "type": "message",
                          "attachments": [
                            {
                              "contentType": "application/vnd.microsoft.card.adaptive",
                              "contentUrl": null,
                              "content": {
                                "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                                "type": "AdaptiveCard",
                                "version": "1.2",
                                "body": [
                                  {
                                    "type": "TextBlock",
                                    "text": "Data Factory failure! Problem encountered when killing index reorganizations.",
                                    "weight": "Bolder",
                                    "size": "Medium",
                                    "color": "warning",
                                    "wrap": true
                                  },
                                  {
                                    "type": "FactSet",
                                    "facts": [
                                      {
                                        "title": "Data Factory",
                                        "value": "@{pipeline().DataFactory}"
                                      },
                                      {
                                        "title": "Pipeline",
                                        "value": "@{pipeline().Pipeline}"
                                      },
                                      {
                                        "title": "Activity",
                                        "value": "@{activity('Kill index reorganizes after timeout').Error.message}"
                                      },
                                      {
                                        "title": "Duration",
                                        "value": "@{activity('Rebuild indexes').Duration}"
                                      }
                                    ]
                                  }
                                ]
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              ],
              "defaultActivities": [
                {
                  "name": "Report failure",
                  "type": "WebActivity",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "0.00:10:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "method": "POST",
                    "headers": {
                      "Content-Type": "application/json",
                      "Authorization": "[concat('Bearer ', parameters('slackAppToken'))]"
                    },
                    "url": "https://slack.com/api/chat.postMessage",
                    "body": {
                      "channel": "[parameters('slackAlertsChannel')]",
                      "text": "Data Factory Failure!",
                      "attachments": [
                        {
                          "color": "warning",
                          "fields": [
                            {
                              "title": "Data Factory",
                              "value": "@{pipeline().DataFactory}",
                              "short": true
                            },
                            {
                              "title": "Pipeline",
                              "value": "@{pipeline().Pipeline}",
                              "short": true
                            },
                            {
                              "title": "Error",
                              "value": "@variables('storedProcedureActivityFailureMessage')",
                              "short": true
                            },
                            {
                              "title": "Duration",
                              "value": "@{activity('Rebuild indexes').Duration}",
                              "short": true
                            }
                          ]
                        }
                      ]
                    }
                  }
                },
                {
                  "name": "Report failure to Teams",
                  "type": "WebActivity",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "0.00:10:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": true
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "url": "[parameters('teamsPowerAutomateWebhookUrl')]",
                    "method": "POST",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "type": "message",
                      "attachments": [
                        {
                          "contentType": "application/vnd.microsoft.card.adaptive",
                          "contentUrl": null,
                          "content": {
                            "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                            "type": "AdaptiveCard",
                            "version": "1.2",
                            "body": [
                              {
                                "type": "TextBlock",
                                "text": "Data Factory Failure!",
                                "weight": "Bolder",
                                "size": "Medium",
                                "color": "warning",
                                "wrap": true
                              },
                              {
                                "type": "FactSet",
                                "facts": [
                                  {
                                    "title": "Data Factory",
                                    "value": "@{pipeline().DataFactory}"
                                  },
                                  {
                                    "title": "Pipeline",
                                    "value": "@{pipeline().Pipeline}"
                                  },
                                  {
                                    "title": "Error",
                                    "value": "@variables('storedProcedureActivityFailureMessage')"
                                  },
                                  {
                                    "title": "Duration",
                                    "value": "@{activity('Rebuild indexes').Duration}"
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      ]
                    }
                  }
                }
              ]
            }
          }
        ],
        "parameters": {
          "Tables": {
            "type": "string",
            "defaultValue": "[variables('fragmentationTables')]"
          },
          "RunMode": {
            "type": "string",
            "defaultValue": "Weekday"
          }
        },
        "variables": {
          "storedProcedureActivityFailure": {
            "type": "string"
          },
          "storedProcedureActivityFailureMessage": {
            "type": "string"
          }
        },
        "annotations": [],
        "lastPublishTime": "2025-11-12T11:47:14Z"
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/linkedServices/ls_sql_statistics')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/pl_purge_subjects_statistics')]",
      "type": "Microsoft.DataFactory/factories/pipelines",
      "apiVersion": "2018-06-01",
      "properties": {
        "activities": [
          {
            "name": "sp_remove_soft_deleted_subjects",
            "type": "SqlServerStoredProcedure",
            "dependsOn": [],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "storedProcedureName": "[[dbo].[RemoveSoftDeletedSubjects]",
              "storedProcedureParameters": {
                "TotalObservationLimit": {
                  "value": {
                    "value": "@pipeline().parameters.TotalObservationLimit",
                    "type": "Expression"
                  },
                  "type": "Int32"
                },
                "ObservationCommitBatchSize": {
                  "value": {
                    "value": "@pipeline().parameters.ObservationCommitBatchSize",
                    "type": "Expression"
                  },
                  "type": "Int32"
                },
                "ObservationFilterItemCommitBatchSize": {
                  "value": {
                    "value": "@pipeline().parameters.ObservationFilterItemCommitBatchSize",
                    "type": "Expression"
                  },
                  "type": "Int32"
                }
              }
            },
            "linkedServiceName": {
              "referenceName": "ls_sql_statistics",
              "type": "LinkedServiceReference"
            }
          },
          {
            "name": "Report success",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "sp_remove_soft_deleted_subjects",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.00:10:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "url": "https://slack.com/api/chat.postMessage",
              "method": "POST",
              "headers": {
                "Content-Type": "application/json",
                "Authorization": "[concat('Bearer ', parameters('slackAppToken'))]"
              },
              "body": {
                "channel": "[parameters('slackAlertsChannel')]",
                "text": "Data Factory Success!",
                "attachments": [
                  {
                    "color": "good",
                    "fields": [
                      {
                        "title": "Data Factory",
                        "value": "@{pipeline().DataFactory}",
                        "short": true
                      },
                      {
                        "title": "Pipeline",
                        "value": "@{pipeline().Pipeline}",
                        "short": true
                      },
                      {
                        "title": "Duration",
                        "value": "@{activity('sp_remove_soft_deleted_subjects').Duration}",
                        "short": true
                      }
                    ]
                  }
                ]
              }
            }
          },
          {
            "name": "Report success to Teams",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "sp_remove_soft_deleted_subjects",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.00:10:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": true
            },
            "userProperties": [],
            "typeProperties": {
              "url": "[parameters('teamsPowerAutomateWebhookUrl')]",
              "method": "POST",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": {
                "type": "message",
                "attachments": [
                  {
                    "contentType": "application/vnd.microsoft.card.adaptive",
                    "contentUrl": null,
                    "content": {
                      "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                      "type": "AdaptiveCard",
                      "version": "1.2",
                      "body": [
                        {
                          "type": "TextBlock",
                          "text": "Data Factory Success!",
                          "weight": "Bolder",
                          "size": "Medium",
                          "color": "good",
                          "wrap": true
                        },
                        {
                          "type": "FactSet",
                          "facts": [
                            {
                              "title": "Data Factory",
                              "value": "@{pipeline().DataFactory}"
                            },
                            {
                              "title": "Pipeline",
                              "value": "@{pipeline().Pipeline}"
                            },
                            {
                              "title": "Duration",
                              "value": "@{activity('sp_remove_soft_deleted_subjects').Duration}"
                            }
                          ]
                        }
                      ]
                    }
                  }
                ]
              }
            }
          },
          {
            "name": "Report failure",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "sp_remove_soft_deleted_subjects",
                "dependencyConditions": [
                  "Failed"
                ]
              }
            ],
            "policy": {
              "timeout": "0.00:10:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": false
            },
            "userProperties": [],
            "typeProperties": {
              "url": "https://slack.com/api/chat.postMessage",
              "method": "POST",
              "headers": {
                "Content-Type": "application/json",
                "Authorization": "[concat('Bearer ', parameters('slackAppToken'))]"
              },
              "body": {
                "channel": "[parameters('slackAlertsChannel')]",
                "text": "Data Factory Failure!",
                "attachments": [
                  {
                    "color": "warning",
                    "fields": [
                      {
                        "title": "Data Factory",
                        "value": "@{pipeline().DataFactory}",
                        "short": true
                      },
                      {
                        "title": "Pipeline",
                        "value": "@{pipeline().Pipeline}",
                        "short": true
                      },
                      {
                        "title": "Error",
                        "value": "@{activity('sp_remove_soft_deleted_subjects').Error.message}",
                        "short": true
                      },
                      {
                        "title": "Duration",
                        "value": "@{activity('sp_remove_soft_deleted_subjects').Duration}",
                        "short": true
                      }
                    ]
                  }
                ]
              }
            }
          },
          {
            "name": "Report failure to Teams",
            "type": "WebActivity",
            "dependsOn": [
              {
                "activity": "sp_remove_soft_deleted_subjects",
                "dependencyConditions": [
                  "Failed"
                ]
              }
            ],
            "policy": {
              "timeout": "0.00:10:00",
              "retry": 0,
              "retryIntervalInSeconds": 30,
              "secureOutput": false,
              "secureInput": true
            },
            "userProperties": [],
            "typeProperties": {
              "url": "[parameters('teamsPowerAutomateWebhookUrl')]",
              "method": "POST",
              "headers": {
                "Content-Type": "application/json"
              },
              "body": {
                "type": "message",
                "attachments": [
                  {
                    "contentType": "application/vnd.microsoft.card.adaptive",
                    "contentUrl": null,
                    "content": {
                      "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                      "type": "AdaptiveCard",
                      "version": "1.2",
                      "body": [
                        {
                          "type": "TextBlock",
                          "text": "Data Factory Failure!",
                          "weight": "Bolder",
                          "size": "Medium",
                          "color": "warning",
                          "wrap": true
                        },
                        {
                          "type": "FactSet",
                          "facts": [
                            {
                              "title": "Data Factory",
                              "value": "@{pipeline().DataFactory}"
                            },
                            {
                              "title": "Pipeline",
                              "value": "@{pipeline().Pipeline}"
                            },
                            {
                              "title": "Error",
                              "value": "@{activity('sp_remove_soft_deleted_subjects').Error.message}"
                            },
                            {
                              "title": "Duration",
                              "value": "@{activity('sp_remove_soft_deleted_subjects').Duration}"
                            }
                          ]
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        ],
        "parameters": {
          "TotalObservationLimit": {
            "type": "int",
            "defaultValue": "[variables('removeSoftDeletedSubjectsObservationLimit')]"
          },
          "ObservationCommitBatchSize": {
            "type": "int",
            "defaultValue": "[variables('removeSoftDeletedSubjectsObservationCommitBatchSize')]"
          },
          "ObservationFilterItemCommitBatchSize": {
            "type": "int",
            "defaultValue": "[variables('removeSoftDeletedSubjectsObservationFilterItemCommitBatchSize')]"
          }
        },
        "annotations": []
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/linkedServices/ls_sql_statistics')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/purge_soft_deleted_subjects_trigger')]",
      "type": "Microsoft.DataFactory/factories/triggers",
      "apiVersion": "2018-06-01",
      "properties": {
        "annotations": [],
        "runtimeState": "Stopped",
        "pipelines": [
          {
            "pipelineReference": {
              "referenceName": "pl_purge_subjects_statistics",
              "type": "PipelineReference"
            },
            "parameters": {
              "TotalObservationLimit": "[variables('removeSoftDeletedSubjectsObservationLimit')]",
              "ObservationCommitBatchSize": "[variables('removeSoftDeletedSubjectsObservationCommitBatchSize')]",
              "ObservationFilterItemCommitBatchSize": "[variables('removeSoftDeletedSubjectsObservationFilterItemCommitBatchSize')]"
            }
          }
        ],
        "type": "ScheduleTrigger",
        "typeProperties": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "startTime": "2020-11-23T19:00:00",
            "timeZone": "GMT Standard Time",
            "schedule": {
              "hours": [
                19
              ],
              "minutes": [
                0
              ]
            }
          }
        }
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/pipelines/pl_purge_subjects_statistics')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/rebuild_indexes_trigger')]",
      "type": "Microsoft.DataFactory/factories/triggers",
      "apiVersion": "2018-06-01",
      "properties": {
        "annotations": [],
        "runtimeState": "Stopped",
        "pipelines": [
          {
            "pipelineReference": {
              "referenceName": "pl_rebuild_statistics_indexes",
              "type": "PipelineReference"
            },
            "parameters": {
              "Tables": "[variables('fragmentationTables')]",
              "RunMode": "Weekday"
            }
          }
        ],
        "type": "ScheduleTrigger",
        "typeProperties": {
          "recurrence": {
            "frequency": "Week",
            "interval": 1,
            "startTime": "2023-03-03T02:00:00",
            "timeZone": "GMT Standard Time",
            "schedule": {
              "hours": [
                22
              ],
              "minutes": [
                30
              ],
              "weekDays": [
                "Sunday",
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday"
              ]
            }
          }
        }
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/pipelines/pl_rebuild_statistics_indexes')]"
      ]
    },
    {
      "name": "[concat(parameters('factoryName'), '/rebuild_indexes_weekend_trigger')]",
      "type": "Microsoft.DataFactory/factories/triggers",
      "apiVersion": "2018-06-01",
      "properties": {
        "annotations": [],
        "runtimeState": "Stopped",
        "pipelines": [
          {
            "pipelineReference": {
              "referenceName": "pl_rebuild_statistics_indexes",
              "type": "PipelineReference"
            },
            "parameters": {
              "Tables": "[variables('fragmentationTables')]",
              "RunMode": "Weekend"
            }
          }
        ],
        "type": "ScheduleTrigger",
        "typeProperties": {
          "recurrence": {
            "frequency": "Week",
            "interval": 1,
            "startTime": "2023-03-03T02:00:00",
            "timeZone": "GMT Standard Time",
            "schedule": {
              "hours": [
                22
              ],
              "minutes": [
                30
              ],
              "weekDays": [
                "Friday",
                "Saturday"
              ]
            }
          }
        }
      },
      "dependsOn": [
        "[concat(variables('factoryId'), '/pipelines/pl_rebuild_statistics_indexes')]"
      ]
    }
  ]
}
